body {
    background-image: url("images/stucco2.png");
    background-color: beige;
}

.heading {
    margin: 0px;
    background-image: url("images/booksBanner.png");
    color: white;
    text-shadow: 2px 2px black, -2px 2px black, -2px -2px black, 2px -2px black;
    height: 200px;
    background-repeat: repeat-x;
    background-size: 1000px 200px;
    border-radius: 0px;
}

#title {
    padding-top: 4px;
    font-size: 50pt;
    margin: 0px;
}
#slogan {
    font-size: 15pt;
    margin: 0px;
}
#cartIcon {
    width: 40px;      
}
#barLink {
    color: whitesmoke;
}
#barLeft {
    margin-left: 2.5%;
}
#barRight {
    margin-right: 2.5%;
}



/*book list + checkout */
.shoppingCartItemsContainer {
    height: 150px;
    background-color: #f3efea;
    border-style: solid;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.shoppingCartItemsContainer p {
    margin: 0px;
}

.shoppingCartItemsDetails {
    margin-left: 10px;
    float: left;
}

.shoppingCartItemsQuantity {
    margin-left: 10px;
    float: left;
}

#cartTotalContainer {
    margin: auto;
    width: 40%;
}

#mainCheckoutContainer {
    margin: auto;
    width: 70%;
}

#mainCheckoutContainer p {
    margin-bottom: 0px;
}

#checkoutPromoContainer {
    width: 200px;
}

.orderSummary {
    padding: 20px;
}

#orderSummaryContainer {
    border-style: solid;
    border-radius: 10px;
    background-color: #f3efea;
}

/*end of book list+checkout*/



/* slideshow stuff */
#slideHeader {
    text-align: center;
    text-decoration: underline;
    margin: 20px;
}

#slideShow {
    height: 620px;
    border-style: solid;
    border-color: darkred;
    border-width: medium;
    border-radius: 10px;
}

.carousel img {
    height: 550px;
    border: solid whitesmoke medium;
    border-radius: 7px;
}
.carousel h3 {
    text-align: center;
    margin: 15px;
    color: white;
}
.messageBox {
    text-align: center;
    margin: 25px;
    padding: 15px;
    background-color: white;
    border: solid thin black;
}

